@import url("https://fonts.googleapis.com/css2?family=Comic+Neue:ital@1&family=M+PLUS+1p:wght@300&display=swap");
html,
body {
  background: whitesmoke;
  font-family: "Comic Neue", cursive;
  font-family: "M PLUS 1p", sans-serif;
}

h1 {
  width: 100%;
  text-align: center;
  flex-grow: 1;
  font-size: 3em;
}
main {
  display: flex;
  & > * {
    margin-left: 1rem;
    margin-bottom: 1rem;
  }
}
section {
  border: 5px solid black;
  flex-direction: column;
}
.filterPannel {
  width: 30%;
  & > * {
    margin-left: 1rem;
    margin-bottom: 1rem;
  }
}
.toDoList {
  display: flex;
  width: 70%;
  & > * {
    margin-left: 1rem;
    margin-bottom: 1rem;
  }
}
.row2a{
  flex-direction: row;
  
}
.row1b {
  margin-top: 1rem;
  margin-bottom: 2rem;
  flex-direction: row;
}
.row2b {
  margin-bottom: 2rem;
  flex-direction: row;
}
.row3b {
  margin-bottom: 2rem;
  flex-direction: row;
  & > .flokkun {
    display: inline;
  }
}

.takkalysing {
  display: inline;
}
.valflokkur {
  display: inline;
}
